.btn-statement{
  background-color: #078BAAFF !important;
}

.accountHeader{
  font-weight: bold;
}

.sideBar{
  background: #F9FBFC !important;
}
.balance{
  color: #236FE8;
}

.accordion,.accordion-item{
  border: none !important;
}
.accordion-button{
  background-color: #fff !important;
}

.list-group-item.menuItem {
  font-size: large;
  font-weight: 600;
}

.list-group-item.active.menuItem {
  background-color: #fff;
  color: #f37021;
  border-color: #f37021;
  border-inline-end: 5px solid #f37021;
  border-bottom: none;
  border-top: none;
}

.sectionTitle {
  font-size: 1.5rem;
  font-weight: 500;
}

.accountHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
}

.statement-modal .modal-dialog {
  overflow: visible;
}

.btn-close-statement{
  position: absolute;
  top: -20px;
  right: -20px;
  z-Index: 2;
  width: 40px;
  height: 40px;
  background: #fff;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.5);
}

textarea{
  resize: none !important;
}